@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #111111;
    color: white;
    font-family: 'Inter', sans-serif;
}



.flex-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.items {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.item-container {
    background-color: #343434;
    
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

img {
    width: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discount-code {
    background-color: #696969;
}

.total-price {
    background-color: #696969;
}

.border-radius {
    border-radius: 10px;
}