@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('/css/style.css');

body {
    background-color: var(--background-color);
    color: white;
    font-family: 'Inter', sans-serif;
}
h2, h3 {
    margin: 0;
}

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    padding: 10px;
}

.grid-container {
    display: grid;
    justify-self: center;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1200px;
}

h1 {
    grid-column: 1 / -1;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.item-container {
    background-color: var(--primary-color);
    
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;

}

img {
    width: 100%;
}

.item-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.item-price div {
    text-align: right;
}
.discount {
    font-size: 12px;
}   

.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.discount-code {
    background-color: var(--secondary-color);
    padding: 20px;
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.discount-code input {
    font-family: 'Inter', sans-serif;
}
.discount-code button {
    background-color: white;
    color: var(--accent-color);
    font-weight: bold;
    transition: 200ms;
    font-size: 30px;
}
.discount-code button:hover {
    background-color: var(--primary-color);
}
.total-price {
    background-color: var(--secondary-color);
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}

.total-price>div {
    display: inline-flex;
    justify-content: space-between;
}
.total-price>div :first-child {
    font-weight: bold;
}

.final-price-container {
    font-size: 22px;
    font-weight: bold;
}

.checkout-button {
    background-color: var(--accent-color);
    color: white;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
}

.border-radius {
    border-radius: 10px;
}
