body {
    background-color: #111111;
    color: white;
}



section {
    border: white solid 1px;
    margin-bottom: 20px;
    padding: 20px;
}

.items {
    background-color: #343434;
}

.items div {
    border: white solid 1px;
    margin-bottom: 10px;
    padding: 10px;
}

.discount-code {
    background-color: #696969;
}

.total-price {
    background-color: #696969;
}