body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}

#copyright {
  color: var(--text-color);
  text-align: center;
}

img {
  height: 100px;
  width: 150px;
}

.button:hover {
  background-color: var(--secondary-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.grid-div {
  justify-self: center;
  align-self: center;
}

.button {
  white-space: nowrap;
  background-color: var(--primary-color);
  margin: 10px;
  color: var(--text-color);
  font-size: 24px;
  padding: 14px 40px;
  border-radius: 8px;
  border: solid var(--secondary-color);
  cursor: pointer;
}

.social-buttons a {
  color: var(--primary-color);
  font-size: 40px;
}

.social-buttons a:hover {
  color: var(--secondary-color);
}

/* small desktop */
@media screen and (max-width: 1515px) and (min-width: 1025) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 350px;
    grid-row-gap: 0px;
  }
}

/* tablet */
@media screen and (max-width: 1024px) and (min-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
  }
}

/* Mobile */
@media screen and (max-width: 699px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
  }
}
