body {
  /* background-color: #111111; */
  background-color: var(--background-color);
  font-family: var(--font-family);
}

.om-oss-text {
  color: var(--text-color);
}

.line-ook {
  border-bottom: 1px solid var(--secondary-color);
}

.container-ook {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1vw;
  margin-top: 1vw;
}

h5 {
  text-decoration: underline var(--text-color);
  text-decoration-thickness: 2px;
  text-align: center;
}

.card-ook {
  border: solid var(--primary-color);
  border-radius: 5px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  height: 175px;
  width: 300px;
  color: var(--text-color);
}

#container-ook {
  margin: 0 auto;
  width: 60%;
}
input[type="text"],
select,
textarea,
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  text-align: center;
}
* {
  box-sizing: border-box;
  font-family: var(--font-family);
}
input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 12px 20px;
  border: solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

.contact-us {
  border-radius: 5px;
  background-color: var(--background-color);
  text-align: center;
  margin-top: 20px;
}

h1 {
  color: var(--text-color);
}

label {
  color: var(--text-color);
}

/*large desktop*/
@media screen and (min-width: 1516px) {
  .cards-ook {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-self: center;
  }
}

/* small desktop */
@media screen and (max-width: 1515px) {
  .cards-ook {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-self: center;
  }
}

/* tablet */
@media screen and (max-width: 1020px) and (min-width: 700px) {
  #container-ook {
    width: 80%;
  }
  .cards-ook {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-self: center;
  }
}

/* Mobile */
@media screen and (max-width: 699px) {
  #container-ook {
    width: 90%;
  }
  .cards-ook {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-self: center;
  }
}
