body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

.main-container {
    margin: 0 auto;
    width: 60%;
    height: 95vh;
    padding: 20px;
}

.main-container h1 {
    font-weight: 900;
}

.sorting-search-section {
    display: flex;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    overflow-y: auto;
    padding: 10px 0;
}

/* Have to add more media queries later on. This is just for testing purposes atm */
@media (min-width: 1400px) {
    .product-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

.product-item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--item-background-color);
    box-sizing: border-box;
}

.product-item:hover {
    cursor: pointer;
}

.product-item h2 {
    margin: 0;
    font-size: 18px;
}

.product-item p {
    margin: 0;
    font-size: 14px;
    color: var(--secondary-color);
}

.product-item .price {
    color: var(--price-color);
}

.product-item .image-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    transition: filter 0.3s ease-in-out;
}

.product-item:hover img {
    filter: brightness(0.8);
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.old-price {
    color: var(--secondary-color, #888);
    text-decoration: line-through;
    font-weight: normal;
    font-size: 0.9em;
    opacity: 0.7;
}

.new-price {
    font-weight: bold;
}

.old-price::after {
    content: "*";
    font-size: 0.8em;
    vertical-align: super;
}