body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

.main-container {
    margin: 0 auto;
    width: 70%;
    padding: 20px;
}

.main-container h1 {
    font-weight: 900;
}

@media (min-width: 768px) {
    .main-container {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .main-container {
        width: 75%;
    }
}

.sorting-search-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-sm);
}

.filter-sorting-btn {
    position: relative;
    background-color: inherit;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    display: inline-block;
    transition: all 0.15s ease;
}

.filter-sorting-btn:hover {
    color: var(--text-color);
}

.tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -50%;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.filter-sorting-btn:hover .tooltiptext {
    visibility: visible;
}

.filter-modal {
    position: fixed;
    top: 0;
    right: calc(-33% - 40px);
    height: 100%;
    width: 33%;
    max-width: 500px;
    padding: 20px;
    background-color: var(--background-color);
    transition: right 0.4s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.filter-modal.active {
    right: 0;
}

@media (max-width: 900px) {
    .filter-modal {
        width: calc(100% - 40px);
        right: calc(-100% - 40px);
    }

    .filter-modal.active {
        right: 0;
    }
}

.filter-modal-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    max-height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 auto;
}

.filter-modal-header .close-btn {
    width: 40px;
    height: 40px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    transition: 0.2s ease;
}

.filter-modal-header .close-btn::before,
.filter-modal-header .close-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 2px;
    background: var(--secondary-color);
    transform-origin: center;
}

.filter-modal-header .close-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.filter-modal-header .close-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.filter-modal-header .close-btn:hover {
    background: var(--text-color);
    border-color: var(--secondary-color);
    transform: scale(1.05);
}

.filter-modal-header .close-btn:focus {
    outline: none;
    box-shadow: var(--shadow);
}

.filter-modal-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.filter-modal-body label {
    font-size: var(--font-size-md);
}

.filter-modal-body select {
    padding: var(--spacing-sm);
    background-color: transparent;
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
}

.filter-modal-body select:hover,
.filter-modal-body select:focus {
    background: var(--background-color);
    border: 1px solid var(--secondary-color);
}

.category-checkboxes {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.category-checkbox {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.category-checkbox span {
    font-size: var(--font-size-sm);
}

.category-checkbox input[type="checkbox"] {
    accent-color: var(--accent-color);
    cursor: pointer;
}

.sale {
    cursor: pointer;
}

.filter-modal-body .sale {
    font-size: var(--font-size-sm);
}

.sale input[type="checkbox"] {
    accent-color: var(--accent-color);
    cursor: pointer;
}

.dual-slider {
    position: relative;
    height: 60px;
}

.dual-slider input[type="range"] {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    z-index: 5;
}

.dual-slider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all !important;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--secondary-color);
    border: 2px solid var(--text-color);
    box-shadow: var(--shadow);
    cursor: grab;
    -webkit-appearance: none;
    margin-top: -10px;
    z-index: 20;
}

.dual-slider input[type="range"]::-moz-range-thumb {
    pointer-events: all !important;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--secondary-color);
    border: 2px solid var(--text-color);
    box-shadow: var(--shadow);
    cursor: grab;
    z-index: 20;
}

.dual-slider .track {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: var(--border-radius);
    transform: translateY(-50%);
    z-index: 1;
}

.dual-slider .range-fill {
    position: absolute;
    top: 50%;
    left: 0;
    height: 8px;
    background: var(--accent-color);
    border-radius: var(--border-radius);
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
    width: 100%;
}

.price-range-values {
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

#products-list-search {
  width: 100%;
  max-width: 300px;
  padding: 14px 20px 14px 45px;
  font-size: var(--font-size-sm);
  border-radius: 50px;
  border: 1px solid #e0e0e0;
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E") no-repeat 18px center;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: var(--shadow);
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    overflow-y: auto;
    padding: var(--spacing-sm) 0;
}

/* Have to add more media queries later on. This is just for testing purposes atm */
@media (min-width: 1400px) {
    .product-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

.product-link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.product-item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.product-item h2 {
    margin: 0;
    font-size: var(--font-size-md);
}

.product-item p {
    margin: 0;
    font-size: var(--font-size-sm);
    color: var(--secondary-color);
}

.product-item .new-price {
    color: var(--accent-color);
}

.product-item .image-container {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: var(--border-radius);
    filter: brightness(1.0);
    transition: filter 0.3s ease-in-out;
}

.product-item:hover img {
    filter: brightness(1.2);
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}

.old-price {
    color: var(--secondary-color, #888);
    text-decoration: line-through;
    font-weight: normal;
    font-size: 0.9em;
    opacity: 0.7;
}

.new-price {
    font-weight: bold;
}

.old-price::after {
    content: "*";
    font-size: 0.8em;
    vertical-align: super;
}